* {
  border: 0;
  padding: 0;
  margin: 0;
}

:root {
  --text-background: rgba(53, 103, 110, 0.5);
  --dark-tone: rgb(27, 25, 104);
  --light-tone: rgb(235, 237, 254);
  --background: rgb(63, 64, 18);
  --side-bar: rgb(34, 65, 68);
  --highlight: red;
  
}

body {
  min-height: 100vh;
  text-decoration: none;
}

.main-website {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  height: 100vh;
}

#splash {
  background-image: url('./imgs/splash-img.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-tone);
}

#splash-reviews {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-review {
  height: 100%;
  width: 25%;
  background-color: var(--background);
  margin: 20px;
}

main {
  background-image: url('./imgs/main-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-color: var(--background);
}

header {
  grid-area: header;
  background-color: var(--dark-tone);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  color: var(--light-tone);
}
.header-nav {
  color: var(--light-tone);
}

/* PROFILE WIDGET */
#profile-widget {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.profile-names {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#userName {
  grid-area: username;
}
#name {
  grid-area: name;
}
#profile-widget img {
  grid-area: image;
  height: 140px;
  width: 150px;
  border: 2px solid var(--light-tone);
  border-radius: 50%;
}

/* SIDEBAR */
#sidebar-nav {
  text-decoration: none;
  grid-area: sidebar;
  background-color: var(--side-bar);
  height: 100%;
  position: relative;
}
#nav-list {
  list-style: none;
  min-height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 20px;
  margin-block: 20px;
}
.nav-list-item {
  margin-inline: 10px;
  color: var(--light-tone);
}
.hamburger-btn {  
    display: none;
}
@media screen and (max-width: 750px){
  .hamburger-btn {
  width: 112px;
  position: absolute;
  top: 0;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  }
  .hm-bar {
    display: block;
    width: 40px;
    height: 10px;
    background-color: var(--background);
  }
  .main-website {
    grid-template-columns: 1fr 1fr 1fr;
  }
  header {
    grid-column: 1 / 4;
  }
  main, #sidebar-nav {
    grid-row: 2 / 3;
  }
  main {
    grid-column: 1 / -1;
  }
  #sidebar-nav {
    grid-column: 1 / 3;
    z-index: 2;
  }
  
}
.colapse {
  width: 0;
}

/* FILTER */
.filter {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.radio-input {
  display: none;
}
.radio-label {
  background-color: var(--light-tone);
  cursor: pointer;
  transition: 0.1s;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
}
.radio-input:checked + .radio-label {
  background-color: var(--highlight);
  color: var(--light-tone);
  border: 5px solid var(--dark-tone);
}
#toggle-order {
  height: 100%;
  width: 15%;
  background-color: var(--highlight);
  color: var(--light-tone);
  overflow: hidden;
  border-radius: 15px;
}


/* REVIEW CARDS */
.review-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-size: contain;
  background-repeat: repeat-y;
}
.card {
  height: 85vw;
  width: 90vw;
  max-width: 700px;
  max-height: 650px;
  border-radius: 10px;
  border: 5px solid var(--side-bar);
  margin: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: var(--text-background);
  position: absolute;
  font-size: 2rem;
  color: var(--light-tone);
}
.card-info {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--text-background);
  color: var(--light-tone);
  font-size: 1.5rem;
  padding: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .card-info{
    font-size: 1.5rem;
  }
  .card-title{
    font-size: 2rem;
  }
  .card-chip {
    font-size: 1.5rem;
  }
  .card-info-top p {
    font-size: 1em;
  }
}
@media screen and (max-width: 600px) {
  .card-info{
    font-size: 1rem;
  }
  .card-title{
    font-size: 1.3rem;
  }
  .card-chip {
    font-size: 1rem;
  }
  .card-info-top p {
    font-size: 1.2rem;
  }
}
.card-info-top {
  width: 90%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card-review-body {
  width: 90%;
}
.vote-cont {
  position: absolute;
  right: 1%;
  top: 25%;
  height: fit-content;
  min-width: 5%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-background);
  color: var(--light-tone);
  border-radius: 30px;
}
.upVote, .downVote {
  width: 100%;
  height: 25%;
  border-radius: 10px;
  color: var(--light-tone);
}

.comments {
  height: 5%;
  width: 5%;
  position: absolute;
  right: 1%;
  top: 50%;
  color: var(--light-tone);
  background-color: var(--text-background);
  padding: 1%;
  border-radius: 10px;
}
.comment-count {
  position: absolute;
  right: 4%;
  top: 52%;
  color: var(--light-tone);
}
.category-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 5%;
  padding: 3px;
  position: absolute;
  left: 1%;
  bottom: 30%;
  background-color: var(--highlight);
  color: var(--light-tone);
  font-size: 1.2em;
  border-radius: 20px;
}

/* INDIVIDUAL REVIEW PAGE */
.review-page {
  position: relative;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upper-review-section {
  position: relative;
  height: 80vw;
  width: 80vw;
  max-width: 800px;
  max-height: 800px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
}
.upper-review-section h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--light-tone);
  background-color: var(--text-background);
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  padding: 10px;
}
.upper-review-section img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.review-page-cat-and-time {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 5%;
  color: var(--light-tone);
  background-color: var(--text-background);
}
.body-review-section {
  height: fit-content;
  width: 90%;
  background-color: var(--dark-tone);
  border-radius: 10px;
  padding: 10px;
  color: var(--light-tone);
}
.body-review-top {
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.review-pg-btn-cont {
  display: flex;
  justify-content: space-around;
  height: 30px;
  width: 90%;
  padding: 5px;
}
.review-pg-btn-cont button {
  width: 25%;
  color: var(--light-tone);
  background-color: var(--dark-tone);
  border-radius: 30px;
}

/* COMMENT SECTION */
.comment-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.comment {
  display: grid;
  place-items: left;
  gap: 10px;
  grid-template-columns: 6fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  width: 100%;
  background-color: var(--dark-tone);
  border: 1px solid var(--light-tone);
  border-radius: 10px;
  color: var(--light-tone);
  margin-block: 5px;
  padding: 30px;
}
.comment-author {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 1.5rem;
}
.comment-body {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1rem;
}
.comment-date {
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
}
.comment-votes {
  justify-self: right;
  height: 100%;
  width: 20%;
  background-color: var(--dark-tone);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  grid-row: 1/3;
}
.no-comments {
  width: 100%;
  background-color: var(--dark-tone);
  border: 1px solid var(--light-tone);
  border-radius: 10px;
  color: var(--light-tone);
  margin-block: 5px;
  padding: 10px;
}
.new-comment-cont {
  position: sticky;
  top: 10px;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
}
.new-comment-icon {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  color: var(--light-tone);
}
.no-comments {
  width: 100%;
  background-color: var(--dark-tone);
  border: 1px solid var(--light-tone);
  border-radius: 10px;
  color: var(--light-tone);
  margin-block: 5px;
  padding: 10px;
}

/* NEW COMMENT SECTION */
.new-comment-cont {
  position: sticky;
  top: 10px;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
}
.new-comment-icon {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  color: var(--light-tone);
}
#new-comment-section {
  width: 95%;
  height: 200px;
  background-color: var(--dark-tone);
  color: var(--light-tone);
  padding: 10px;
  border: 1px solid var(--light-tone);
  border-radius: 10px;
}
#new-comment-text {
  background-color: var(--light-tone);
  color: var(--dark-tone);
  width: 90%;
  height: 90%;
  border-radius: 10px;
  padding: 10px;
  font-size: x-large;
}
#new-comment-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-comment-btn {
  height: 100%;
  width: 10%;
  color: var(--light-tone);
  margin: 5%;
}

.grey-out {
  color: grey;
}