* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

.main-website {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  height: 100vh;
}

#splash {
  background-image: url('./imgs/splash-img.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#splash-reviews {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-review {
  height: 100%;
  width: 25%;
  background-color: black;
  margin: 20px;
}



header {
  grid-area: header;
  background-color: rgb(226, 214, 43);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

#sidebar-nav {
  grid-area: sidebar;
  background-color: red;
  height: 100%;
}