* {
  border: 0;
  padding: 0;
  margin: 0;
}

:root {
  --text-background: rgba(0, 0, 0, 0.5)
}

body {
  min-height: 100vh;
}

.main-website {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  height: 100vh;
}

#splash {
  background-image: url('./imgs/splash-img.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#splash-reviews {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-review {
  height: 100%;
  width: 25%;
  background-color: black;
  margin: 20px;
}

main {
  background-color: black;
}

header {
  grid-area: header;
  background-color: rgb(27, 25, 104);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  color: white;
}

/* SIDEBAR */
#sidebar-nav {
  grid-area: sidebar;
  background-color: red;
  height: 100%;
  position: relative;
}
#nav-list {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 20px;
  margin-block: 20px;
}
.nav-list-item {
  margin-inline: 10px;
}
.hamburger-btn {  
    display: none;
}
@media screen and (max-width: 750px){
  .hamburger-btn {
  width: 112px;
  position: absolute;
  top: 0;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  }
  .hm-bar {
    display: block;
    width: 40px;
    height: 10px;
    background-color: black;
  }
  .main-website {
    grid-template-columns: 1fr 1fr 1fr;
  }
  header {
    grid-column: 1 / 4;
  }
  main, #sidebar-nav {
    grid-row: 2 / 3;
  }
  main {
    grid-column: 1 / -1;
  }
  #sidebar-nav {
    grid-column: 1 / 3;
    z-index: 2;
  }
  
}
.colapse {
  width: 0;
}


/* REVIEW CARDS */
.review-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.card {
  height: 85vw;
  width: 90vw;
  max-width: 700px;
  max-height: 650px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: var(--text-background);
  position: absolute;
  font-size: 2rem;
  color: white;
}
.card-info {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--text-background);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .card-info{
    font-size: 1.5rem;
  }
  .card-title{
    font-size: 2rem;
  }
  .card-chip {
    font-size: 1.5rem;
  }
  .card-info-top p {
    font-size: 1em;
  }
}
@media screen and (max-width: 600px) {
  .card-info{
    font-size: 1rem;
  }
  .card-title{
    font-size: 1.3rem;
  }
  .card-chip {
    font-size: 1rem;
  }
  .card-info-top p {
    font-size: 1.2rem;
  }
}
.card-info-top {
  width: 90%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card-review-body {
  width: 90%;
}
.vote-cont {
  position: absolute;
  right: 1%;
  top: 25%;
  height: fit-content;
  min-width: 5%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-background);
  color: white;
  border-radius: 30px;
}
.upVote, .downVote {
  width: 100%;
  height: 25%;
  border-radius: 10px;
  color: white;
}
.grey-out {
  color: grey;
}
.comments {
  height: 5%;
  width: 5%;
  position: absolute;
  right: 1%;
  top: 50%;
  color: white;
  background-color: var(--text-background);
  padding: 1%;
  border-radius: 10px;
}
.comment-count {
  position: absolute;
  right: 4%;
  top: 52%;
  color: white;
}
.category-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 5%;
  padding: 3px;
  position: absolute;
  left: 1%;
  bottom: 30%;
  background-color: blue;
  color: white;
  font-size: 1.2em;
  border-radius: 20px;
}

/* INDIVIDUAL REVIEW PAGE */
.review-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upper-review-section {
  position: relative;
  height: 80vw;
  width: 80vw;
  max-width: 800px;
  max-height: 800px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
}
.upper-review-section h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  background-color: var(--text-background);
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  padding: 10px;
}
.upper-review-section img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.review-page-cat-and-time {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 5%;
  color: white;
  background-color: var(--text-background);
}
.body-review-section {
  height: fit-content;
  width: 90%;
  background-color: darkcyan;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.body-review-top {
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.review-pg-btn-cont {
  display: flex;
  justify-content: space-around;
  height: 30px;
  width: 90%;
  padding: 5px;
}
.review-pg-btn-cont button {
  width: 25%;
  color: white;
  background-color: darkmagenta;
  border-radius: 30px;
}


